<h1>Welcome to Ngrx Pizza!</h1>
<hr>

<div *ngFor="let pizza of pizzas | async">

  <img src="/assets/pizza.jpg" width="200px">

  <h3>Pizza ID: {{ pizza.id }} </h3>
  <p>Size: {{ pizza.size }}</p>

  
  <button *ngIf="pizza.size==='small'" class="button is-warning" 
          (click)="updatePizza(pizza.id, 'large')">
    Upgrade to Large
  </button>

  <button *ngIf="pizza.size==='large'" class="button is-success" 
          (click)="updatePizza(pizza.id, 'small')">
    Downgrade to Small
  </button> 

  <button class="button is-danger" (click)="deletePizza(pizza.id)">DELETE</button>
   <hr>
</div>


<button class="button is-primary" (click)="createPizza()">CREATE new Pizza</button>